@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 250, 250, 250;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .squiggle path {
        stroke-dasharray: none;
        stroke-dashoffset: none;
        transition: stroke-dashoffset 0.5s ease;
    }
}

@font-face {
    font-family: "Butler";
    src: url("/fonts/Butler_Light.otf") format("opentype");
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi/Satoshi-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
